/* some colors you may find useful:
  #115ff4 - background blue
  #060ce9 - darker blue
  #28a200 - green
  #8d2ab5 - purple
  #74119c - dark purple
*/

body {
  background-color: #115ff4;
}

.header {
  position: relative;
  text-align: center;
}
h1 {
  color: white;
  font-size: 50px;
}

button {
  margin: auto;
  margin-bottom: 10px;
  background-color: #8d2ab5;
  color: white;
  font-size: 20px;
  border-radius: 7px;
  padding: 5px 20px;
}

.spinner {
  text-align: center;
  color: white; 
  font-size: 100px;
  display: none;
}

.board {
  margin: auto;
  width: 70%;
  border: 1px solid white;
  padding: 10px;
  color: white;
  display: none;
}


table {
  border: 1px, solid, black;
}